<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Tasty Bites {% endblock %}</title>
        <style>
            footer {
                background-color: #333;
                color: white;
                text-align: center;
                padding: 15px 0;
                position: fixed;
                bottom: 0;
                width: 100%;
                font-size: 14px;
            }
        </style>
    </head>
    <body>
        {% block content %}{% endblock %}
        <footer>
            <p> @ 2025 Tasty Bites Restaurant | All rights reserved</p>
        </footer>
    </body>
</html>
